
#head{
	background-color: #006666 ; 
	color: white;
	height:117px;
	padding: 5px;
}
.panel-primary>.panel-heading {
    background-color: #006666;
 	border-color: #2c3e50;   
}

#input{
	float: right;
	margin: 2px;
    margin-right: -12px;
}
/*#button-panel{
	padding: 20px;#20315A
}*/